@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@layer base {
  :root {
    height: 100vh;
  }

  body {
    background: linear-gradient(0deg, rgba(25,29,34,1) 0%, rgba(29,33,38,1) 37%, rgba(44,48,53,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
    color: #fff;
  }

  h1 {
    @apply text-4xl lg:text-6xl
  }

  h2 {
    @apply text-2xl lg:text-4xl
  }

  h3 {
    @apply text-lg lg:text-2xl
  }

  @keyframes loading-pulse-animation {
    0%, 100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

  .loading-text-pulse {
    animation: loading-pulse-animation 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}